@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");
@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.input {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid rgb(203 213 225);
  padding: 0.75rem;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(99 102 241 / 0.4);
}
